#projects {
    padding: 30px 0;
}
.container {
    padding: 10px 10%;
}
.subtitle2{
    font-size: 30px;
    font-weight: 600;
    color: #0F52BA;
    text-align: center;
}
/*Card Layout*/
.projectlist {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.project {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.project:hover img {
    transform: scale(1.1);
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #0F52BA);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
    font-size: 12px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 10px;
}

.layer p {
    font-size: 11px;
}

.project:hover .layer {
    height: 100%;
}