#about {
    padding: 10px 0;
    color: #ababab;
}
.container {
    padding: 10px 10%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*Column Layout*/
.about-col-1 {
    flex-basis: 35%;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-1 img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 15px;
}

.subtitle {
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 15px;
}

.about-col-2 p {
    font-size: 13px;
}
/*Tabbed Navigation*/
.tabtitles {
    display: flex;
    margin: 20px 0 40px;
}

.tablinks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tablinks::after {
    content: '';
    width: 0;
    height: 3px;
    background: #0F52BA;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tablinks.active-link::after {
    width: 50%;
}

.tabcontents {
    display: none;
    font-size: 13px;
    text-align: left;
}

.tabcontents.active-tab {
    display: block;
    font-size: 13px;
}

.tabcontents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 13px;
    text-align: left;
}

.tabcontents ul li span {
    color: #0F52BA;
    font-size: 13px;
}